.team {
	background: #e7f1f8;
	color: $blue;
}

.team-member {
	gap: 4rem;
}

.team-member-role {
	color: $aquaBlue;
}

.team-member-bio {
	margin-top: 3rem;
}

.team-member-intro {
	margin: 2rem 0;
	font-weight: 300;
}
