.divider-contact::after {
	border-color: #273a71;
}

.divider-portfolio::after {
	border-color: #e5c37f;
}

.divider-team::after {
	border-color: #bdd1df;
}

.divider-skills::after {
	border-color: #dfe8ed;
}
